<template name="arrow">
    <title id="title" class="sr-only">Arrow</title>
    
    <!--<div style="display:table;">-->
    <!--    <div style="display:table-cell; vertical-align:middle; float:none;">-->
    <!--<div>angle: {{angle}}</div>-->
    <!--<div>angle arrow: {{angleArrow}}</div>-->
    
    <!--<div>logss: {{logs}}</div>-->
    
    <i class="fa fa-chevron-circle-up fa-3x" style="transform: rotate({{angleArrow}}deg); -webkit-transform: rotate({{angleArrow}}deg); -moz-transform: rotate({{angleArrow}}deg);"></i>

    <!--{{logs}}-->
    <!--    </div>-->
    <!--</div>-->
</template>