<template name="index">
        <title id="title" class="sr-only">Pinpoint</title>
        
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
                <h1>Pinpoint</h1>
                <p>An application for finding nearby friends.</p>
        </div>
        <h3>User: <small>{{currentUser.username}}</small></h3>
        <p>You currently have {{numNearby}} friends nearby.</p>
        

        <!--NEED CONTENT HERE-->
        <a href="/arrow">Arrow</a>
</template>