<template name="list">
    <title id="title" class="sr-only">Nearby</title>
    
    <b>Your Position:</b> ({{cleanCoord latPos}}, {{cleanCoord lngPos}})
    {{#if currentUser}}
        {{#if currentUser.profile.follow}}
            <!--<ul>
            {{#each inRange}}
                {{printContext}}
                <li>{{username}} - {{distTo profile.lastPos}}m away ({{cleanCoord profile.lastPos.lat}},{{cleanCoord profile.lastPos.lng}}) - As of {{livestamp profile.lastPos.time}}</li>
            {{else}}
                Noone is in your range!
            {{/each}}
            </ul>-->
            
            
            {{#if inRange}}
                <table class="table table-striped table-bordered">
                    <thead> 
                        <tr> 
                            <th class="col-xs-4"><h4>Username</h4></th>
                            <th class="col-xs-4"><h4>Distance</h4></th>
                            <th class="col-xs-4"><h4>Last Updated</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each inRange}}
                            <tr style="font-size: 14px; ">
                                <td class="col-xs-4">{{username}}</td>
                                <td class="col-xs-4">{{{friendlyDist profile.lastPos}}}</td>
                                <td class="col-xs-4">{{livestamp profile.lastPos.time}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Nobody is currently in your range!</p>
            {{/if}}
        {{else}}
            You are not following anyone!
        {{/if}}
    {{/if}}
</template>