<template name="list">
    <title id="title" class="sr-only">Nearby</title>
    
    <b>Your Position:</b> ({{cleanCoord latPos}}, {{cleanCoord lngPos}})
    {{#if currentUser}}
        {{#if currentUser.profile.follow}}
            <ul>
            {{#each inRange}}
                {{printContext}}
                <li>{{username}} - {{distTo profile.lastPos}}m away ({{cleanCoord profile.lastPos.lat}},{{cleanCoord profile.lastPos.lng}}) - As of {{livestamp profile.lastPos.time}}</li>
            {{else}}
                Noone is in your range!
            {{/each}}
            </ul>
            
            
            {{#if inRange}}
                <table class="table table-striped">
                    <thead> 
                        <tr> 
                            <th>Username</th>
                            <th>Distance</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each inRange}}
                            <tr>
                                <td>{{username}}</td>
                                <td>{{{friendlyDist profile.lastPos}}}</td>
                                <td>{{livestamp profile.lastPos.time}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Noone is currently in your range!</p>
            {{/if}}
        {{else}}
            You are not following anyone!
        {{/if}}
    {{/if}}
</template>