<template name="list">
    <b>Your Position:</b> ({{cleanCoord latPos}}, {{cleanCoord lngPos}})
    {{#if currentUser}}
        {{#if currentUser.profile.follow}}
            <ul>
            {{#each inRange}}
                {{printContext}}
                <li>{{username}} - {{distTo profile.lastPos}}m away ({{cleanCoord profile.lastPos.lat}},{{cleanCoord profile.lastPos.lng}}) - As of {{livestamp profile.lastPos.time}}</li>
            {{else}}
                Noone is in your range!
            {{/each}}
            </ul>
        {{else}}
            You are not following anyone!
        {{/if}}
    {{/if}}
</template>